* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: Jost, sans-serif;
  text-align: center;
}
body {
  background-color: #c1e4e0;
}
.header-style {
  padding: 10px;
  margin: 10px;
}

form {
  background-color: #faf4e6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  width: 480px;
  padding: 15px;
  margin: 30px auto 20px auto;
}

form input,
form textarea {
  background-color: #faf4e6;
  border: none;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
}

form .add-note,
.delete-note {
  width: 50px;
  padding: 5px;
  background-color: #faf4e6;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
}

form .add-note:hover {
  background-color: black;
  color: white;
}

.delete-note:hover {
  background-color: black;
  color: white;
}

.color-palette {
  border-radius: 4px;
  width: 30px;
}
.saved-notes-container {
  display: flex;
  flex-wrap: wrap;
}

.saved-note {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 4px;
  width: 300px;
  height: 200px;
  padding: 8px;
  background-color: #fad2e1;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  border-radius: 7px;
}
